.clock {
  display: flex;
  height: 300px;
}

.colom {
  font-size: 200px;
  line-height: 100%;
}

.clock > * {
  height: 200px;
  width: 100px;
  background-size: 100px 200px;
  background-repeat: no-repeat;
}

.digit-0 {
  background-image: url(images/0.jpg);
}

.digit-1 {
  background-image: url(images/1.jpg);
}

.digit-2 {
  background-image: url(images/2.jpg);
}

.digit-3 {
  background-image: url(images/3.jpg);
}

.digit-4 {
  background-image: url(images/4.jpg);
}

.digit-5 {
  background-image: url(images/5.jpg);
}

.digit-6 {
  background-image: url(images/6.jpg);
}

.digit-7 {
  background-image: url(images/7.jpg);
}

.digit-8 {
  background-image: url(images/8.jpg);
}

.digit-9 {
  background-image: url(images/9.jpg);
}
